<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <profiles>
    <profile>
      <id>artifactory</id>

      <properties>
        <artifactory.url>https://artifactory.siren.io/artifactory</artifactory.url>
      </properties>

      <repositories>
        <repository>
          <id>artifactory-releases</id>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <name>libs-release</name>
          <url>https://artifactory.siren.io/artifactory/libs-release</url>
        </repository>
        <repository>
          <id>artifactory-snapshots</id>
          <snapshots />
          <name>libs-snapshot</name>
          <url>https://artifactory.siren.io/artifactory/libs-snapshot</url>
        </repository>
      </repositories>

    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>

</settings>
